# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Pydantic compiled
*.pyd

# Build output
build/
dist/
*.egg
.eggs/
pip-wheel-metadata/

# dotenv environment variables
.env
.env.*

# Docker
*.pid

# SQLite
*.sqlite3
*.db

# Others
instance/
*.swp